<nav class="navbar navbar-expand-lg" style="background-color: #2A0140;">
    <div class="container-fluid" style="margin-top: 5px; margin-bottom: 5px;">
        <a class="navbar-brand text-white fw-bold" href="#">GESTIONSTOCK</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active text-white"  [routerLink]="'/dashboard'">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"  [routerLink]="'/produit'">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" [routerLink]="'/commandes'">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Stock</a>
                </li>
            </ul>
        </div>
        <button class="btn bg-danger text-white">
            Déconnexion <i class="bi bi-box-arrow-right"></i>
        </button>
    </div>
</nav>