<div class="p-8 flex flex-col gap-8 h-full">
  <div class="flex items-center justify-between w-full h-full">
    <app-stats-card
      *ngFor="let stat of stats"
      class="w-1/4"
      [title]="stat.title"
      [value]="stat.value"
      [icon]="stat.icon"
    ></app-stats-card>
  </div>

  <div class="flex w-full gap-4 h-full">
    <div class="flex flex-col gap-4 bg-primary rounded flex-1 p-4 text-white">
      <p class="text-xl font-bold">Ventes Recentes</p>
      <div class="">
        <table>
          <thead>
            <tr class="text-center">
              <th>Date</th>
              <th>Produit</th>
              <th>Quantite</th>
              <th>Prix Unitaire</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vente of ventes">
              <td>{{vente.date}}</td>
              <td>{{vente.produit}}</td>
              <td>{{vente.quantite}}</td>
              <td>{{vente.prixUnitaire}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <button class="bg-green text-white rounded px-4 py-2 self-end">
        Voir plus
      </button>
    </div>
    <div
      class="flex flex-col gap-4 bg-secondary rounded flex-2 p-4 text-white w-1/3"
    >
      <h1 class="text-3xl font-bold text-center">Produits</h1>
      <div class="flex flex-col gap-4">
        <h3 class="text-xl font-bold text-green">Les plus vendues</h3>
        <div *ngFor="let produits of plusVendues" class="flex justify-between items-center">
          <p>{{produits.produit}}</p>
          <p>{{produits.quantite}}</p>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-xl font-bold text-red">Bientot terminee</h3>
        <div *ngFor="let termine of bientotTermine " class="flex justify-between items-center">
          <p>{{termine.produit}}</p>
          <p>{{termine.quantite}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
