<button (click)="close()" class="bg-gray-200 text-primary rounded-s px-2 py-16">></button>
<div class="w-2/3 bg-secondary rounded-s p-8 flex items-center justify-center h-5/6">
  <div class="bg-primary rounded-s p-4 flex-1 flex flex-col gap-8">
    <h1 class="text-xl underline font-bold text-center">Create a Commande</h1>
    <form [formGroup]="commandeForm" (ngSubmit)="addToCart()" class="flex flex-col gap-8">
      <div class="input-grp">
        <label for="">Client name</label>
        <input
          type="text"
          formControlName="clientName"
          class="custom-input"
          placeholder="Client name"
        />
      </div>
      <div class="flex justify-between">
        <div class="input-grp">
          <label for="">Produit</label>
          <select
            formControlName="productId"
            class="px-4 py-4 text-base rounded-md shadow-sm outline-none focus:outline-none bg-purple cursor-pointer"
            (change)="updateTotalPrice()"
          >
            <option [value]="null">Sélectionner un produit</option>
            <option *ngFor="let product of products" [value]="product.id">
              {{product.name}}
            </option>
          </select>
        </div>
        <div class="input-grp">
          <label for="">Quantite</label>
          <input 
            type="text" 
            formControlName="quantity"
            class="custom-input max-w-24" 
            placeholder="12"
            (input)="updateTotalPrice()"
          />
        </div>
      </div>
      <p class="text-2xl">Prix total : <span>{{currentTotal}} Fr</span></p>
      <button class="py-2 bg-purple rounded">Add to cart</button>
    </form>
  </div>
  <div class="bg-purple p-4 rounded-e border-l flex-1 flex flex-col gap-8">
    <h1 class="text-xl underline font-bold text-center">
      Client : <span>{{clientName}}</span>
    </h1>
    <div class="bg-primary rounded p-4 h-[186px] overflow-y-scroll">
      <div
        *ngFor="let item of cartItems"
        class="flex gap-2 bg-white text-primary rounded w-full items-center justify-between h-20 p-2"
      >
        <div class="flex items-center justify-center gap-3 h-full">
          <img
            [src]="item.product.image"
            alt=""
            class="w-16 h-16 rounded"
          />
          <div class="flex flex-col justify-between h-full">
            <p class="text-xl">{{item.product.name}}</p>
            <div class="flex gap-2">
              <button (click)="updateCartItemQuantity(item, -1)">-</button>
              <div>
                <p class="p-1 w-8 h-8 flex items-center justify-center bg-black text-white">
                  {{item.quantity}}
                </p>
              </div>
              <button (click)="updateCartItemQuantity(item, 1)">+</button>
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-between items-end h-full">
          <button class="text-md text-red" (click)="removeFromCart(item)">x</button>
          <p class="text-xl">{{item.product.price * item.quantity}} Fr</p>
        </div>
      </div>
    </div>
    <p class="text-2xl">Prix total : <span>{{cartTotal}} Fr</span></p>
    <button class="py-2 bg-green rounded" (click)="handleSubmit()">Valider commande</button>
  </div>
</div>