<!-- <div class="flex justify-center items-center gap-2 p-4">
    <button 
      *ngIf="currentPage > 3"
      (click)="pageChanged.emit(1)"
      class="px-3 py-1 rounded border">
      1
    </button>

    <span *ngIf="currentPage > 3">...</span>

    <button 
      *ngFor="let page of visiblePages"
      (click)="pageChanged.emit(page)"
      [class.active]="currentPage === page"
      class="px-3 py-1 rounded border">
      {{ page }}
    </button>

    <span *ngIf="currentPage < totalPages - 2">...</span>

    <button 
      *ngIf="currentPage < totalPages - 2"
      (click)="pageChanged.emit(totalPages)"
      class="px-3 py-1 rounded border">
      {{ totalPages }}
    </button>
  </div> -->
