/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
    flex: 1;
}

app-dashboard,
app-produit {
    flex: 1;
}

app-root,
body {
    overflow: hidden;
}